<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.sichu8.app"
	version 	= "1.0.0">

	<name>Si-Chu</name>

	<description>
	  Si chu client.
	</description>

	<author href="http://ax003d.github.com"
		email="ax003d@gmail.com">
		Ax003d
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
